/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]og/
/[Ll]ogs/
/[Bb]uild/
/[Bb]uilds/
/UserSettings/
/ProjectSettings/
/Bundles/

/.vs/
/.vscode/
/.vsconfig/
/.idea/

*.csproj
*.sln
*.user

/Assets/StreamingAssets/
/Assets/GameRes/Sound/
